@import "tailwindcss";


@theme {
    --breakpoint-mm: 550px;
    --breakpoint-mmd: 950px;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn .4s ease-in-out;
}